.active {
  background-color: white;
  color: black;
}

.pending {
  background-color: white;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 10px;
  background-color: lightcyan;
}

.navbar li {
  margin: 0 10px;
  margin-top: 20px;
}

.cart-count {
  background-color: #ff5722;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2em 0.5em;
  position: relative;
  top: -0.8em;
  left: 0.5em;
  font-size: 0.8em;
}

.icon {
  width: 45px;
  height: 45px;
}

.categoryClass {
  display: flex;
  justify-content: space-evenly;
}

.titulo {
  display: flex;
  justify-content: center;
}

.sneaker-card {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  max-width: 500px;
  max-height: 700px;
  flex: 1;
  margin: 8%;
}

.sneaker-image {
  max-width: 50%;
}

.sneaker-description {
  font-size: 14px;
  margin: 10px 0;
}

.sneaker-price {
  font-weight: bold;
}

.sneaker-link {
  display: block;
  margin-top: 10px;
} 

.sneaker-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -10px;
}

.imageDetail {
  width: 40%;
  height: 10%;
}

.quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  > .quantity {
    font-size: 16px;
    margin: 0 10px;
  }
}

.quantity-button {
  background-color: cyan;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.cart {
  position:relative;
}

.cartCount {
  position:absolute;
  bottom: 0px;
  right: -10px;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: red;
  text-align: center;
  color: white;
}

.table {
  display: flex;
  flex-direction: column;
  width: fit-content;

  .headers, .rows > .row, .total {
    display: flex;
    flex-direction: row;
    > div {
      padding-top: .5rem;
      padding-bottom: .5rem;
      display: flex;
      border: solid 1px;
      align-items: center;
      justify-content: center;
    }
    > .name{
      width: 300px;
    }
    > .quantity {
      width: 100px
    }
    > .unitPrice {
      width: 150px
    }
    > .totalPrice {
      width: 100px
    }
    > .actions {
      width: 100px;
      > .delete {
        width: 25px;
        height: 25px;
        padding: 0;
        background-color: rgb(142, 3, 3);
      }
    }
  }

  .total > div {
    width: 100%;
    justify-content: end !important;
    padding-right: 1rem;
  }
}

.confirm {
  width: 200px;
}

